body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}

span{


    color: darkorange;
}

.flexible-container{
    display: flex;
    margin-bottom: 80px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 50%;
}
.link-button{
    text-decoration:none ;
    background-color: tomato;
    padding: 15px 45px;
    border-radius: 10px;
    font-weight:bolder;
}
.experience-item{
    width: 40%;
    margin-left:5%;
    margin-right:5%;
    padding-left: 5%;
    border-radius: 15px;
    border-left: 10px solid rgb(119, 25, 122);
    box-shadow: 4px 4px 4px 10px gray;
}
#baby-web{
    border-left:7px solid cyan ;
    border-image:linear-gradient(blue,cyan)
    border-image-sclice:4px
}
footer p {
    text-align: center;
    color:olive;
}







    
